/Basic_first_BChain/__pycache__
/course/web3js/node_modules
CreateCrypto/__pycache__
inbox/node_modules
inbox/inbox-updated/node_modules
kickstart/node_modules
kickstart/.next
lottery/node_modules
lottery-react/node_modules
lottery-updated/node_modules
.DS_Store
lottery-react
